@import '../../styles.scss';

.contact-form-card {
    margin: 50px auto 0px auto;
    background-color: $cg-white;
    padding: 25px;
    width: 50%;
    max-width: 500px;
}

.contact-form-header {
    font-family: 'United Sans';
    color: $cg-red;
    text-align: center;
}

.contact-button-wrapper {
   text-align: center;
}

.contact-button {
    background-color: $cg-red;
    color: $cg-white;
    border: none;
}

.schedule-wrapper {
    width: 100%;
    margin: 5px auto 25px auto;
    display: flex;
    justify-content: space-evenly;
}

.schedule-button {
    display: flex;
    justify-content: center;
}

.required {
    color: $cg-red;
}

.selected {
    background-color: $cg-red;
    color: $cg-white;
}

.selected:hover {
    background-color: $cg-red-hover !important;
    color: $cg-white;
}

@media screen and (max-width: 950px) {
    .contact-form-card { 
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .contact-form-card { 
        width: 90%;
    }
}