<mat-card class="contact-form-card">
  <h1 class="contact-form-header">CG Future Camper</h1>
  <!-- <p class="contact-form-subheader">Let's Get You Signed Up...</p> -->

  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group">
      <label for="first-name">First Name: <span class="required">*</span></label>
      <input type="text" class="form-control" id="first-name" [(ngModel)]="model.firstName" name="first-name" #firstName="ngModel" required>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name: <span class="required">*</span></label>
      <input type="text" class="form-control" id="last-name" [(ngModel)]="model.lastName" name="last-name" #lastName="ngModel" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number: <span class="required">*</span></label>
      <input type="number" class="form-control" id="phone" [(ngModel)]="model.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" #email="ngModel">
    </div>

    <div class="contact-button-wrapper">
      <button type="submit" class="btn contact-button" [disabled]="!contactForm.form.valid">Submit</button>
    </div>

  </form>
</mat-card>