<mat-toolbar class="navbar-wrapper mat-elevation-z2">
  <img src="assets/cg_black.png" height="40px"/>

  <div style="margin-left: auto; display: flex">
      <button style="display: inline-flex" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
      </button>
  </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <span *ngIf="!!(authService.currentUser$ | async) === true" style="display: inline-flex; padding: 0px 16px; justify-content: center; width: 100%; border-bottom: 1px solid lightgray;">
      <p style="font-size: 14px;"><span style="font-weight: bold;">Connected:</span><br>{{ (authService.currentUser$ | async)?.email }}</p>
  </span>
  <button *ngIf="!!(authService.currentUser$ | async) === false" (click)="signUpModal()" mat-menu-item>New User</button>
  <button *ngIf="!!(authService.currentUser$ | async) === false" (click)="loginModal()" mat-menu-item>Returning User</button>
  <button *ngIf="!!(authService.currentUser$ | async) === true" (click)="authService.logout()"  mat-menu-item>Log Out Of Zingle</button>
</mat-menu>
